* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: grey;
}

h1, h2, h3 {
    color: purple;
}

header {
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 0 15px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  top: 0;
  left: 0;
}

#title-container {
  justify-content: start;
}
#account-container {
  justify-content: end;
}

#account-container img {
  width: 50px;
  height: auto;
  transition: filter 0.3s ease;
}

#account-container img:hover {
  filter: brightness(80%);
}

.page-wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.page-header {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 15px black;
  margin-bottom: 20px;
  border-radius: 8px;
}

/*--------------------------------------------*/
/*-------------v Search Bar CSS v-------------*/

.search-container {
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 8px black;
  margin-bottom: 20px;
  border-radius: 8px;
}

#search-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#search-bar {
  width: 70%;
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
}

#search-bar::-webkit-search-cancel-button {
  cursor: pointer; /* It was bothering me */
}

#search-button {
  width: 30%;
  padding: 0.5rem 1rem;
  font-size: 16px;
  cursor: pointer;
}

/*--------------------------------------------*/
/*--------v Search Result Cards CSS v---------*/

#options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 8px black;
  border-radius: 1rem;
  width: 100%;
}

.race-card {
  display: block;
  gap: 1rem;
  width: 100%;
  height: auto;
  background-color: white;
  border: solid lightgrey 1px;
  border-radius: 8px;
  transition: filter 0.5s ease;
  box-shadow: 0 2px 8px black;
}

.race-card:hover {
  filter: brightness(90%);
}

.race-header {
  background-color: white;
  border-radius: 1rem;
  top: 0;
}

#race-content {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border: solid lightgrey 1px;
  border-radius: 4px;
}

.race-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.race-links button {
  background-color: inherit;
  border: solid lightgrey 1px;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.5s ease;
}

.race-links button:hover {
  background-color: steelblue;
}



