* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 40px auto;
  padding: 20px;
}

.page-header {
  background-color: white;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 15px black;
  margin-bottom: 20px;
  border-radius: 1rem;
}

/*--------------------------------------------*/
/*-------------v Search Bar CSS v-------------*/

.search-container {
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 8px black;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 90%;
}

#search-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#search-bar {
  width: 70%;
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
}

#search-bar::-webkit-search-cancel-button {
  cursor: pointer; /* It was bothering me */
}

#search-button {
  width: 30%;
  padding: 0.5rem 1rem;
  font-size: 16px;
  cursor: pointer;
}

/*--------------------------------------------*/
/*--------v Search Result Cards CSS v---------*/

#options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 8px black;
  border-radius: 1rem;
  width: 90%;
}

#race-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
}

.race {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 90%;
}

.race-card {
  display: block;
  gap: 1rem;
  width: 100%;
  height: auto;
  background-color: white;
  border: solid lightgrey 1px;
  border-radius: 8px;
  transition: filter 0.5s ease;
  box-shadow: 0 2px 8px black;
  margin: 0.5rem;
  padding: 0.5rem;
}

.race-card:hover {
  filter: brightness(90%);
}

.race-header {
  background-color: white;
  border-radius: 1rem;
  top: 0;
}

#race-content {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border: solid lightgrey 1px;
  border-radius: 4px;
}

.race-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.card-button {
  width: 50%;
  height: auto;
}
.race-links button {
  background-color: whitesmoke;
  box-shadow: 0 2px 8px black;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.5s ease;
}

.race-links button:hover {
  background-color: steelblue;
}



