.summary-toggle {
  background-color: whitesmoke;
  color: purple;
  border: solid grey 1px;
  border-radius: 1rem;
  box-shadow: 0 0 15px black;
  font-size: x-large;
  gap: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  transition: background-color 0.5s ease;
}

.summary-toggle:hover {
  background-color: steelblue;
  color: white;
  cursor: pointer;
}

#leaderboard-wrapper {
  background-color: whitesmoke;
  margin: 3px;
  padding: 3px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 15px black;
  width: 90%;
}

#leaderboard-container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

#refresh-leaderboard {
  background-color: whitesmoke;
  box-shadow: 0 2px 8px black;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.5s ease;
}

#refresh-leaderboard:hover {
  background-color: steelblue;
}

.lap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}