<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Running App</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/account.css">
    <script type="module" defer src="/js/account.js"></script>
  </head>

  <body>
    <header>
      <div id="header-left">
        <h1 id="page-header">Welcome, We Hope You Enjoy Your Stay!</h1>
        <h3 id="welcome-msg">Please see the items below for your next steps!</h3>
      </div>
      
      <div id="header-right">
        <a class="icon-buttons" title="Visit Homepage" href="/home"><img src="/imgs/home.png" alt="Home Button"></a>
        <a class="icon-buttons" title="Go Back" href="/home"><img src="/imgs/back_button.png" alt="Back Button"></a>
        <a class="icon-buttons" title="View Account" href="/account"><img src="/imgs/pfp.png" alt="Profile Picture"></a>
      </div>
    </header>

    <div id="display-container">

      <admin-panel id="admin-panel"></admin-panel>

      <div class="display-bubble" id="enter-race-bubble">
        <div class="bubble-header">
          <h3 class="bubble-title"><b>Account Details</b></h3>
          <img class="bubble-image" src="/imgs/pfp.png" alt="Profile Picture">
          <h3 id="content-username">Username</h3>
          <p id="content-user-id">Runner ID</p>
        </div>
        <div class="bubble-footer">
          <form id="change-password-form" action="/api/change-password">

            <label class="form-label" for="username"><h3>Username</h3></label>
            <input class="form-input" id="username" type="text" placeholder="Username" name="username">

            <label class="form-label" for="old-pword"><h3>Old Password</h3></label>
            <input class="form-input" id="old-pword" type="password" placeholder="Old Password" name="old_password">

            <label class="form-label" for="new-pword"><h3>New Password</h3></label>
            <input class="form-input" id="new-pword" type="password" placeholder="New Password" name="new_password">

            <button id="submit-button" type="button">Submit</button>
          </form>
        </div>
      </div>

      
    </div>
  </body>

  <template id="admin-template">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/components/admin.css">
    
    <div class="display-bubble" id="admin-bubble">
      <div class="bubble-header">
        <h3 class="bubble-title"><b>Admin database access here</b></h3>
        <p>Please use this portal to query the database</p>
      </div>
      <div class="bubble-footer">
        <div id="IO-container">
          <textarea name="input" id="text-input" placeholder="Use this panel to query the database"></textarea>
          <textarea name="output" id="text-output" placeholder="Relevant outputs will be displayed here!"></textarea>
        </div>
        <div id="submit-container">
          <button id="query-button" type="button">Run Query</button>
        </div>
      </div>
    </div>
  </template>
</html>