<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/findRace.css">
        <link rel="icon" href="/webpages/imgs/favicon.ico">
        <script type="module" defer src="/js/timer.js"></script>
        <title>Find Race</title>
      </head>

    <body>
        <div class="page-header">
            <h1>Placeholder</h1>
            <p>please search </p>
        </div>
        

        <div id="page-wrapper">
            

            <div>
                <!--Go with this option for race selection, race results can be pulled from db and appended to 'race-options'-->
                <h3>Test</h3>
                <input list="race-options" id="race_id" name="race_id">

                <datalist id="race-options">
                    <option value="Placeholder"></option>
                    <option value="Placeholder"></option>
                    <option value="Placeholder"></option>
                    <option value="Placeholder"></option>
                    <option value="Placeholder"></option>
                </datalist>
            </div>
        </div>
    </body>

    <template id="search-panel">
        <div id="search-container">
            <h3>Search Container</h3>
            <form action="/api/find-race">
                <input type="search" name="search" id="search-bar">
                <button type="submit">Search</button>
            </form>
            
        </div>
    </template>
</html>