<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/findRace.css">
        <link rel="icon" href="/webpages/imgs/favicon.ico">
        <script type="module" defer src="/js/raceFinder.js"></script>
        <title>Find Race</title>
      </head>

    <body>
        <div id="page-wrapper">
            <div class="page-header">
                <h1>Placeholder</h1>
                <p>please search </p>
            </div>

            <div id="search-container">
                <h3>Search Container</h3>
                
                <input type="search" id="search-bar" placeholder="Search...">
                <button type="submit" id="search-button">Search</button>
            </div>

            <div id="race-options">
                <p>placeholder</p>
            </div>
        </div>
    </body>
</html>