<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Running App</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/home.css">
    <script type="module" defer src="/js/home.js"></script>
  </head>

  <body>
    <header>
      <div id="header-left">
        <h1 id="page-header">Welcome, We Hope You Enjoy Your Stay!</h1>
        <h3 id="welcome-msg">Please see the items below for your next steps!</h3>
      </div>
      
      <div id="header-right">
        <a class="icon-buttons" title="Visit Homepage" href="/home"><img src="/imgs/home.png" alt="Home Button"></a>
        <a class="icon-buttons" title="Go Back" href="/"><img src="/imgs/back_button.png" alt="Back Button"></a>
        <a class="icon-buttons" title="View Account" href="./placeholder.html"><img src="/imgs/pfp.png" alt="Profile Picture"></a>
      </div>
    </header>

    <div id="display-container">
      <div class="display-bubble" id="enter-race-bubble">
        <a href="./race/race-finder.html">
          <h3 class="bubble-title">Enter A Race</h3>
          <img class="bubble-image" src="imgs/enter_race.png" alt="placeholder image">
          <p>Running a race? Get set here!</p>
        </a>
      </div>

      <div class="display-bubble" id="view-race-bubble">
        <a href="./race/race-finder.html">
          <h3 class="bubble-title">Spectate Race</h3>
          <img class="bubble-image" src="imgs/view_race.png" alt="placeholder image">
          <p>Not participating but still want to see results?</p>
        </a>
      </div>

      <div class="display-bubble" id="account-bubble">
        <a href="/account">
          <h3 class="bubble-title">Account</h3>
          <img class="bubble-image" src="imgs/account.png" alt="placeholder image">
          <p>View your account details here!</p>
        </a>
      </div>

      <div class="display-bubble" id="exit-bubble">
        <a href="./index.html">
          <h3 class="bubble-title">Exit?</h3>
          <img class="bubble-image" src="imgs/exit.png" alt="placeholder image">
          <p>Done for the day? See you soon!</p>
        </a>
      </div>
    </div>
  </body>
</html>