<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="./imgs/favicon.ico">
    <script type="module" defer src="/js/index.js"></script>
  </head>

  <body>
    <div id="page-wrapper">
      <header id="page-header">
        <h1>Sign In/ Sign Up!</h1>
      </header>

      <div id="custom-container">

        <login-panel id="login-panel" style="display: none;"></login-panel>
        <register-panel id="register-panel"></register-panel>

        <h4 id="swapper-header">
          <span id="swapper-text">Don't have an account?</span>
          <a id="swapper-link">Register Here</a>
        </h4>
      </div>

    </div>
  </body>

  <template id="login-template">
    <link rel="stylesheet" href="/css/index.css">

    <div class="container">
      <form class="form" id="login-form" action="/login" method="POST">

        <div class="tooltip" id="login-tooltip">
          <h2>Login Here!</h2>
        </div>

        <label for="username">Please enter a username:
          <input type="text" class="username" name="username" required>
        </label>
        <label for="password">Please enter a password:
          <input type="password" class="password" name="password" required>
        </label>
        <button type="submit">Submit</button>
      </form>
    </div>

  </template>

  <template id="register-template">
    <link rel="stylesheet" href="/css/index.css">
    
    <div class="container">
      <form class="form" id="register-form" action="/register" method="POST">

        <div class="tooltip" id="register-tooltip">
          <h2>Register Here!</h2>
        </div>

        <label for="username">Please enter a username:
          <input type="text" class="username" name="username" required>
        </label>
        <label for="password">Please enter a password:
          <input type="password" class="password" name="password" required>
        </label>
        <button type="submit">Submit</button>
      </form>
  </template>

  
</html>