<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta lang="en">
    <link rel="icon" href="/imgs/favicon.ico">
    <link rel="stylesheet" href="/css/placeholder.css">
  </head>
  <body>
    <header>
      <h1>This is a placeholder</h1>
      <p>Below is a 'palette' of sorts to help choose my colour scheme</p>
      <a href="/home">
        <p>Press me to go back</p>
      </a>
    </header>

    <div class="palette">
      <h1 class="palette">This is a Title</h1>
      <h2 class="palette">This is a subtitle</h2>

      <p class="palette" id="p1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsam mollitia dicta excepturi, at libero non animi beatae fugiat! Perferendis, maxime omnis quia tempore ullam quae ipsum totam laudantium debitis.
        Molestiae a ipsum porro vitae, eveniet voluptatem tenetur eius laborum, ad quae dolores laboriosam deleniti beatae soluta voluptatibus eaque perferendis, repellendus culpa quibusdam minus iste sapiente commodi inventore? Provident, non.
      </p>

      <p class="palette" id="p2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsam mollitia dicta excepturi, at libero non animi beatae fugiat! Perferendis, maxime omnis quia tempore ullam quae ipsum totam laudantium debitis.
        Molestiae a ipsum porro vitae, eveniet voluptatem tenetur eius laborum, ad quae dolores laboriosam deleniti beatae soluta voluptatibus eaque perferendis, repellendus culpa quibusdam minus iste sapiente commodi inventore? Provident, non.
      </p>

      <p class="palette" id="p3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsam mollitia dicta excepturi, at libero non animi beatae fugiat! Perferendis, maxime omnis quia tempore ullam quae ipsum totam laudantium debitis.
        Molestiae a ipsum porro vitae, eveniet voluptatem tenetur eius laborum, ad quae dolores laboriosam deleniti beatae soluta voluptatibus eaque perferendis, repellendus culpa quibusdam minus iste sapiente commodi inventore? Provident, non.
      </p>

      <button class="palette">This is a button</button>
    </div>
  </body>
</html>