h1 {
  color: violet;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
nav ul li a:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}