<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/raceFinder.css">
        <link rel="icon" href="/webpages/imgs/favicon.ico">
        <script type="module" defer src="/js/raceFinder.js"></script>
        <title>Find Race</title>
      </head>

    <body>
        <div class="page-wrapper">
            <div class="page-header">
                <h1>Please find your desired race here!</h1>
            </div>

            <div class="search-container">
                <h3>Search Container</h3>
                
                <input type="search" id="search-bar" placeholder="Search...">
                <button type="submit" id="search-button">Search</button>
            </div>

            <div id="options-container">
                <h3><u>Available Races...</u></h3>
                <div id="race-options">
                    <p>Please enter a race!</p>
                </div>
            </div>
            
        </div>
    </body>
</html>