<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/race/timer.css">
    <link rel="icon" href="/imgs/favicon.ico">
    <script type="module" defer src="/js/race/timer.js"></script>
    <title>Timer</title>
  </head>

  <body>
    <header>
      <div id="header-left">
        <h1 id="page-header">Here you can record your lap times for your race!</h1>
        <h3 id="welcome-msg">Welcome!</h3>
      </div>
      
      <div id="header-right">
        <a class="icon-buttons" title="Visit Homepage" href="/home" id="home-button"><img src="/imgs/home.png" alt="Home Button"></a>
        <a class="icon-buttons" title="Go Back" href="./race-finder.html" id="back-button"><img src="/imgs/back_button.png" alt="Back Button"></a>
      </div>
    </header>

    <stopwatch-panel></stopwatch-panel>
  </body>

  <template id="stopwatch-template">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/components/stopwatch.css">
    <div id="stopwatch-wrapper">
      
      
      <div id="stopwatch-container">
        <div id="stopwatch-header">
          <h2 id="header-message">Press 'Start' to begin your lap!</h2>

          <div id="info-container">
            <a class="information-buttons" title="Display Information" id="info-button"><img src="/imgs/info_button.png" alt="Info Button"></a>
            <a class="information-buttons" title="Upload Lap Results" id="upload-button"><img src="/imgs/upload_button.png" alt="Upload Button"></a>
          </div>
        </div>
        <p id="timer">00:00:00</p>

        <details>
          <summary id="stopwatch-summary"><b>Show/ Hide Buttons</b></summary>
          <button id="start-stop" type="button">Start</button>
          <button id="submit-lap">Submit Lap</button>
          <button id="reset" type="button">Reset</button>
        </details>
        
      </div>
    </div>
  </template>
</html>