<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/race/viewer.css">
    <link rel="icon" href="/imgs/favicon.ico">
    <script type="module" defer src="/js/race/viewer.js"></script>
    <title>Timer</title>
  </head>

  <body>
    <header>
      <div id="nav-buttons">
        <a class="icon-buttons" title="Visit Homepage" href="/home"><img src="/imgs/home.png" alt="Home Button"></a>
        <a class="icon-buttons" title="Go Back" href="/race-finder"><img src="/imgs/back_button.png" alt="Back Button"></a>
        <a class="icon-buttons" title="View Account" href="/account"><img src="/imgs/pfp.png" alt="Profile Picture"></a>
      </div>

      <div id="title-container">
        <h1 id="page-header">See here for the runners currently in the race!</h1>
        <h3 id="welcome-msg">Welcome!</h3>
      </div>
    </header>

    <div id="leaderboard-wrapper">
      <div id="leaderboard-container">
        <div id="leaderboard-header">
          <div id="header-text">
            <h2>Leaderboard Table</h2>
            <p>The dropdown arrow expands/ collapses results!</p>
          </div>
          <div id="header-button">
            <button id="refresh-leaderboard">Refresh</button>
          </div>
        </div>

        <div id="leaderboard-content">
          <p>future results will be displayed here...</p>
        </div>
      </div>
    </div>
    
  </body>

  
</html>