<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/race/viewer.css">
    <link rel="icon" href="/imgs/favicon.ico">
    <script type="module" defer src="/js/timer.js"></script>
    <title>Timer</title>
  </head>

  <body>
    <header>
      <div id="header-left">
        <h1 id="page-header">Here you can view the current runners still running this lap!</h1>
        <h3 id="welcome-msg">Welcome!</h3>
      </div>
      
      <div id="header-right">
        <a class="icon-buttons" href="/home"><img src="/imgs/home.png" alt="Home Button"></a>
        <a class="icon-buttons" href="./race-finder.html"><img src="/imgs/back_button.png" alt="Back Button"></a>
      </div>
    </header>

    <leaderboard-panel></leaderboard-panel>
  </body>

  <template id="leaderboard-template">
    <link rel="stylesheet" href="/css/components/leaderboard.css">

    <div id="leaderboard-wrapper">
        <div id="leaderboard-container">
          <div id="leaderboard-header">
            <h2>Leaderboard Table</h2>
            <p>Your current results will be displayed here...</p>
          </div>

          <table border="1" id="leaderboard-table">
            <thead>
              <tr id="header-row">
                <td>Lap Number</td>
                <td>Lap Time (HH:MM:SS)</td>
                <td>Time Remaining (Interval - Lap Time)</td>
              </tr>
            </thead>
            <tbody id="table-body">
              <tr id="data-row">
                <td>Placeholder Data Row</td>
                <td>Placeholder Data Row</td>
                <td>Placeholder Data Row</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </template>
</html>